# SQLAlchemy练习题

以下是三个关于SQLAlchemy的练习题，您可以尝试解答并练习掌握SQLAlchemy的使用：

练习题 1：

假设您有一个名为Book的模型类，表示图书信息。它具有以下属性：

id: 主键，整数类型
title: 标题，字符串类型
author: 作者，字符串类型
price: 价格，浮点数类型
请使用SQLAlchemy创建一个数据库表格来存储Book类的对象，并插入两本书籍的数据（可自行定义书籍信息）。

练习题 2：

使用SQLAlchemy查询并打印出Book表格中所有书籍的标题和作者。

练习题 3：
使用SQLAlchemy查询并打印出Book表格中价格低于20的书籍的标题、作者和价格。

In [ ]:
from sqlalchemy import create_engine,Column,Integer,String,Float,Numeric
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

Base = declarative_base()

engine = create_engine("postgresql+psycopg2://lijun:0226@localhost/test?options=--search_path=public")

class Book(Base):
    __tablename__ = 'book'
    id = Column(Integer, primary_key = True)
    title = Column(String)
    author = Column(String)
    price = Column(Numeric(10,2))

Base.metadata.create_all(engine) #创建表结构，没有表会创建表，有表保留原来表

# 使用Session将数据传递给数据库
with Session(engine) as session:
    test1 = Book(
        title = '红楼梦',
        author = '曹雪芹',
        price = 20,
    )

    test2 = Book(
        title = '西游记',
        author = '吴承恩',
        price = 26,
    )

    test3 = Book(
        title = '三国演义',
        author = '罗贯中',
        price = 18,
    )
        
    session.add_all([test1,test2,test3])
    session.commit()

In [ ]:
# 查询数据,使用SQLAlchemy查询并打印出Book表格中所有书籍的标题和作者。
from sqlalchemy import select,Column,Integer,String,Numeric,create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
engine = create_engine("postgresql+psycopg2://lijun:0226@localhost/test?options=--search_path=public")

class Book(Base):
    __tablename__ = 'book'
    id = Column(Integer, primary_key = True)
    title = Column(String)
    author = Column(String)
    price = Column(Numeric(10,2))

session=Session(engine)

stmt=select(Book)
for book in session.scalars(stmt):
    print(book.id,book.title,book.author)

In [43]:
# 查询数据,使用SQLAlchemy查询并打印出Book表格中价格低于20的书籍的标题、作者和价格。
from sqlalchemy import select,Column,Integer,String,Numeric,create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()
engine = create_engine("postgresql+psycopg2://lijun:0226@localhost/test?options=--search_path=public")

class Book(Base):
    __tablename__ = 'book'
    id = Column(Integer, primary_key = True)
    title = Column(String)
    author = Column(String)
    price = Column(Numeric(10,2))

session=Session(engine)

stmt2=select(Book).where(Book.price < 20)
for book in session.scalars(stmt2):
    print(book.id,book.title,book.author,book.price)
    #print(type(book))

9 三国演义 罗贯中 18.00
12 三国演义 罗贯中 18.00
15 三国演义 罗贯中 18.00
18 三国演义 罗贯中 18.00

/var/folders/b0/_hygmqc12w19q02kybym_bq40000gn/T/ipykernel_44030/2030311120.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()